@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
}

header {
    padding: 0 80px;
}

.main_menu {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 42px;
    border-bottom: 2px solid #828282;
}

.main_menu_item_link {
    color: #828282;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_text-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    padding-top: 38px;
    padding-bottom: 30px;
}

h1 {
    width: 118px;
    font-size: 47px;
    font-weight: 100;
    font-style: normal;
    font-family: 'UnifrakturMaguntia', sans-serif;
    /* що, якщо шрифт не знайдений (або не завантажений) підбери подібний шрифт з сімейства з засічками/без засічок */
}

.main_text-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.main_text-about {}

.main_lang-toogle {
    transform: rotate(90deg);
    text-align: right;
    padding-right: 50px;
}

.main_photo {
    width: 943px;
    height: 387px;
}

.about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 107px;
    background-color: #f6f6f6;
}

.about_title {
    font-size: 34px;
    margin-bottom: 18px;
    font-family: 'Blaka Hollow', cursive;
}

.about_text {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.about_text-top {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.about_text-middle {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.about_text-bottom {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    /* word */
    color: red;
    /* HEX */
    color: #de9d9d;
    /* RGB */
    color: rgb(255, 0, 0);
    /* RGBA- альфа канал */
    color: rgb(100, 200, 100, 0.5);
}